@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../font/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "CompagnonBold";
  font-display: swap;
  src: url("../font/Compagnon-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CompagnonItalic";
  font-display: swap;
  src: url("../font/Compagnon-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "CompagnonLight";
  font-display: swap;
  src: url("../font/Compagnon-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CompagnonMedium";
  font-display: swap;
  src: url("../font/Compagnon-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "CompagnonRoman";
  font-display: swap;
  src: url("../font/Compagnon-Roman.woff2") format("woff2");
}

:root {
  --color-title: hsl(180, 90%, 30%);
  --color-text: hsl(0, 0%, 0%);
  --color-white: white;
}

* {
  scrollbar-color: var(--color-title) var(--color-white);
}

::-webkit-scrollbar-track {
  background: var(--color-white);
}
::-webkit-scrollbar-thumb {
  background: var(--color-title);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2em;
  margin-bottom: 5px;
  color: var(--color-title);
  margin-bottom: 8px;
  margin-top: 12px;
}

h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "CompagnonRoman";
}

h2 {
  font-size: 1.4rem;
  font-family: "CompagnonLight";
}

.container-right h2 {
  margin-bottom: 0px;
}

h3 {
  font-size: 1rem;
  line-height: 1rem;
  font-family: "CompagnonRoman";
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.3rem;
  color: var(--color-text);
  margin-bottom: 6px;
}

a,
a:visited {
  font-family: "CompagnonRoman";
  color: var(--color-title);
  text-decoration: underline;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img {
  width: calc(100% - 4rem);
  margin: 3rem 3rem 3rem 1rem;
}

.container-global {
  width: 100%;
  height: 100%;
}

.container-intro {
  padding-bottom: 1rem;
  box-shadow: 0px 1.6px 0px var(--color-title);
}

header {
  display: flex;
  justify-content: space-between;
}

.container-intro {
  text-transform: uppercase;
}

.container-corps {
  display: flex;
}

.container-left {
  padding-right: 1rem;
  width: 66%;
  box-shadow: 1.6px 0px 0px var(--color-title);
}

.container-right {
  padding-left: 1rem;
  width: 34%;
}

.logi-infos {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container-right li {
  margin-left: 1.5rem;
}

.container-right li::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  translate: -1.4rem;
}

.container-right li:nth-child(1)::before {
  background-color: #00ff7fff;
  outline: 1.5px solid black;
}

.container-right li:nth-child(2)::before {
  background-color: white;
  outline: 1.5px solid black;
}

.container-right li:nth-child(3)::before {
  background-color: #00ffffff;
  outline: 1.5px solid black;
}

.container-right li:nth-child(4)::before {
  background-image: url("../import/version_scheme_arrow.png");
  background-size: contain;
}

.container-right li:nth-child(5)::before {
  background-image: url("../import/version_scheme_arrow_dotted.png");
  background-size: contain;
}

@media print {
  @page {
    size: 210mm 297mm;
    margin: 10mm;
  }

  h1 {
    font-size: 16pt;
  }

  h2 {
    font-size: 12pt;
  }

  h3 {
    font-size: 8pt;
  }

  a {
    font-size: 9pt;
  }

  p {
    font-size: 8pt;
    line-height: 12pt;
  }

  .break {
    break-before: always;
  }
}
