/*!!!!!!!!!!!!!!!! base load !!!!!!!!!!!!!!!!*/

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../font/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Gulax";
  src: url("../font/Gulax-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Darker";
  src: url("../font/DarkerGrotesque-Bold.woff") format("woff");
}

@font-face {
  font-family: "Plex";
  src: url("../font/IBMPlexSansCondensed-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Jost";
  src: url("../font/Jost-500-Medium.otf");
}

@font-face {
  font-family: "Sprat";
  font-display: swap;
  src: url("../font/SpratVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Garamond";
  src: url("../font/EBGaramond12-Regular.otf");
}

@font-face {
  font-family: "Blinker";
  src: url("../font/Blinker-ExtraBold.ttf");
}

@font-face {
  font-family: "CompagnonMedium";
  src: url("../font/Compagnon-Medium.woff2") format("woff2");
}

:root {
  --color-base: black;
  --color-none: rgba(0, 0, 0, 0);
  --hue-maker: 0deg;
  --hue-software: 80deg;
  --hue-neutral: 160deg;
  --hue-workshop: 240deg;
  --color-maker: hsl(var(--hue-maker), 60%, 80%);
  --color-neutral: hsl(var(--hue-neutral), 60%, 80%);
  --color-software: hsl(var(--hue-software), 60%, 80%);
  --color-workshop: hsl(var(--hue-workshop), 60%, 80%);
  --line-weight: 0px;
  --margin-top: 0.8rem;
  --margin-right: calc(var(--margin-top) * 1.375);
  --floating-space: 0.6rem;
  --border-radius: 0.4rem;
  --board-scale-x: 400vw;
  --board-scale-y: 400vh;
}

ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

/*!!!!!!!!!!!!!!!! scrollbar !!!!!!!!!!!!!!!!*/

* {
  scroll-behavior: smooth;
  scrollbar-width: none !important;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

::-webkit-scrollbar-track {
  background: var(--color-none);
}
::-webkit-scrollbar-thumb {
  background: var(--color-base);
}
* {
  scrollbar-color: var(--color-base) var(--color-none);
}

/*!!!!!!!!!!!!!!!! simplebar !!!!!!!!!!!!!!!!*/

.simplebar-scrollbar:before {
  background: black;
  border-radius: var(--border-radius);
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 12px;
}

/*!!!!!!!!!!!!!!!! cursor !!!!!!!!!!!!!!!!*/

a,
.arrow,
.ul-button li,
.pointer {
  cursor: pointer;
}

.background-grid {
  pointer-events: none;
}

/*!!!!!!!!!!!!!!!! text !!!!!!!!!!!!!!!!*/

/******** global text ********/

a::after,
a {
  text-decoration: none;
  color: var(--color-base);
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: "Inter";
  color: var(--color-base);
  margin: 0;
}

span,
h1,
h2,
h3 {
  font-size: 1.8rem;
}

h5 {
  font-size: 0.8rem;
}

p,
a:not(.button) {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.instruction h1,
.instruction h2,
.instruction p {
  margin-top: var(--margin-top);
}

/******** specific text ********/

.default {
  top: 30%;
}

.krita {
  font-family: "Gulax";
  font-size: 2.4rem;
  top: 32%;
}

.blender {
  font-family: "Darker";
  font-size: 2.6rem;
  top: 31%;
}

.gimp {
  font-family: "Plex";
  font-size: 2.1rem;
  top: 40%;
}

.penpot {
  font-family: "Jost";
  font-size: 2.1rem;
  top: 40%;
}

.inkscape {
  font-family: "Sprat";
  font-variation-settings: "wdth" 120, "wght" 100;
  font-size: 2rem;
  top: 39%;
}

.kdenlive {
  font-family: "Inter";
  font-weight: 300;
  font-size: 2rem;
  top: 38%;
}

.scribus {
  font-family: "Garamond";
  font-size: 2.1rem;
  top: 39%;
}

.birdfont {
  font-family: "Blinker";
  font-size: 2.3rem;
  top: 40%;
}

.workshop01 {
  font-family: "CompagnonMedium";
  font-size: 2.2rem;
  top: 30%;
}

.text-smaller {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.workshop01 a {
  font-size: 2.2rem;
}

.article h1 {
  text-transform: uppercase;
}

.instruction li a {
  word-wrap: break-word;
  hyphens: auto;
}

/*!!!!!!!!!!!!!!!! navigation !!!!!!!!!!!!!!!!*/

/******** top bar ********/

.navigation-global {
  position: fixed;
  z-index: 5;
  display: flex;
  width: calc(100% - var(--margin-right) * 2);
  padding: var(--margin-top) var(--margin-right);
  justify-content: space-between;
}

/* top bar */

.logo {
  display: flex;
  align-items: center;
}

.logo h5 {
  margin-left: var(--margin-top);
}

.page-maker .navigation-global h5,
.page-maker .navigation-global h1 {
  color: var(--color-maker);
}

.page-neutral .navigation-global h5,
.page-neutral .navigation-global h1 {
  color: var(--color-neutral);
}

.page-workshop .navigation-global h5,
.page-workshop .navigation-global h1 {
  color: var(--color-workshop);
}

.page-software .navigation-global h5,
.page-software .navigation-global h1 {
  color: var(--color-software);
}

/******** global button ********/

.button {
  display: block;
  height: calc(var(--margin-top) * 2);
  width: max-content;
  border: var(--line-weight) solid var(--color-base);
  border-radius: var(--border-radius);
  padding: var(--margin-top);
  transition: background-color 0.08s ease-in-out;
}

.button span {
  position: relative;
  line-height: 0;
}

.button-file {
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: opacity 0.08s ease-in-out;
}

.loaded:hover .button-file {
  opacity: 1;
}

.page-maker .button {
  background-color: var(--color-maker);
}
.maker .button:hover {
  background-color: var(--color-maker);
}

.page-neutral .button {
  background-color: var(--color-neutral);
}
.neutral .button:hover {
  background-color: var(--color-neutral);
}

.page-workshop .button {
  background-color: var(--color-workshop);
}
.workshop .button:hover {
  background-color: var(--color-workshop);
}

.page-software .button {
  background-color: var(--color-software);
}
.software .button:hover {
  background-color: var(--color-software);
}

.maker .button,
.neutral .button,
.workshop .button {
  text-transform: capitalize;
}

.software .button {
  text-transform: uppercase;
}

/******** arrow button ********/

/* def arrow*/

.arrow {
  width: 1.8rem;
  height: 1.8rem;
  -webkit-mask: url("../import/arrow.svg") no-repeat;
  mask: url("../import/arrow.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  border: 1px solid var(--color-neutral);
}

.arrow-color {
  background-color: var(--color-base);
}

.page-neutral .navigation-global .arrow-color {
  background-color: var(--color-neutral);
}

.page-maker .navigation-global .arrow-color {
  background-color: var(--color-maker);
}

.page-workshop .navigation-global .arrow-color {
  background-color: var(--color-workshop);
}

.page-software .navigation-global .arrow-color {
  background-color: var(--color-software);
}

/* set button */

/* all button arrow */

.arrow-rotate {
  transform: rotate(180deg);
  transition: transform 0.7s cubic-bezier(0.2, 0.4, 0.2, 1);
}

.button-arrow-l,
.button-arrow-r {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 0 var(--margin-right);
}

.button-arrow-l .arrow-push,
.button-arrow-r .arrow-push,
.button-arrow-l h1,
.button-arrow-r h1 {
  position: relative;
}

/* button arrow left */

.button-arrow-l {
  left: calc(var(--margin-right) * -1);
}

.button-arrow-l .arrow-push {
  left: -3rem;
  transition: left 0.4s cubic-bezier(0.4, 0.1, 0.4, 1);
}

.button-arrow-l h1 {
  left: -1.8rem;
  transition: left 0.4s cubic-bezier(0, 0, 0.2, 1) 0.18s;
}

.button-arrow-l:hover .arrow-push {
  left: 0rem;
}

.button-arrow-l:hover h1 {
  left: 0.6rem;
}

/* button arrow right */

.button-arrow-r {
  right: calc(var(--margin-right) * -1);
}

.button-arrow-r .arrow-push {
  transform: rotate(180deg);
  right: -3rem;
  transition: right 0.4s cubic-bezier(0.4, 0.1, 0.4, 1);
}

.button-arrow-r h1 {
  right: -1.8rem;
  transition: right 0.4s cubic-bezier(0, 0, 0.2, 1) 0.18s;
}

.button-arrow-r:hover .arrow-push {
  right: 0rem;
}

.button-arrow-r:hover h1 {
  right: 0.6rem;
}

/******** list button ********/

.ol-button,
.ul-button {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.ol-button {
  flex-direction: column;
}

.ol-button li,
.ul-button li {
  margin-top: var(--margin-top);
}

.ul-button li {
  margin-right: var(--margin-top);
}

.ol-button li {
  margin-left: var(--margin-top);
}

/*!!!!!!!!!!!!!!!! background page !!!!!!!!!!!!!!!!*/

/******** create grid ********/

.page-board {
  overflow: hidden;
}

.background-grid,
.background-grid div {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grid-below {
  opacity: 0.4;
}

.background-grid {
  opacity: 0.2;
}

.cross {
  background-image: url("../import/cross.min.svg");
  background-size: 50px;
}

.square {
  background-image: url("../import/square.min.svg");
  background-size: 50px;
}

.dot {
  background-image: url("../import/dot.min.svg");
  background-size: 50px;
}

/******** color grid ********/

.page-workshop .grid {
  filter: invert(0.4) sepia(1) saturate(64) hue-rotate(var(--hue-workshop));
}

.page-workshop .grid-below {
  background-color: var(--color-workshop);
}

.page-software .grid {
  filter: invert(0.4) sepia(1) saturate(64) hue-rotate(var(--hue-software));
}

.page-software .grid-below {
  background-color: var(--color-software);
}

.page-maker .grid {
  filter: invert(0.4) sepia(1) saturate(64) hue-rotate(var(--hue-maker));
}

.page-maker .grid-below {
  background-color: var(--color-maker);
}

/*!!!!!!!!!!!!!!!! content grid !!!!!!!!!!!!!!!!*/

.content {
  overflow: hidden;
}

.loaded {
  position: absolute;
  opacity: 0;
  transition: opacity 0.32s ease-in-out 0.16s;
}

.page-neutral .background {
  background-color: var(--color-neutral);
}

.page-workshop .background {
  background-color: var(--color-workshop);
}

.page-software .background {
  background-color: var(--color-software);
}

.page-maker .background {
  background-color: var(--color-maker);
}

.visual {
  width: max(400px, 30vw);
}

.article {
  width: 60vw;
  height: 60vh;
}

.loaded video,
.loaded img,
.loaded .instruction {
  border-radius: var(--border-radius);
  border: var(--line-weight) solid var(--color-base);
}

.loaded img,
.loaded video,
.loaded .instruction {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top {
  z-index: 3;
}
.bottom {
  z-index: 2;
}

/*!!!!!!!!!!!!!!!! index !!!!!!!!!!!!!!!!*/

/******** global ********/

.page-index {
  overflow: hidden;
}

.overlay,
.page-index video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlay {
  background-color: var(--color-neutral);
  mix-blend-mode: multiply;
}

.page-index video {
  z-index: -1;
  object-fit: cover;
}

/* menu */

.navigation-menu {
  position: relative;
  display: flex;
  padding: var(--margin-top) var(--margin-right);
  justify-content: space-between;
}

.menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 100vw;
  width: max(440px, 40vw);
  height: max-content;
  margin: var(--floating-space);
  background-color: var(--color-neutral);
  border-radius: var(--border-radius);
  outline: var(--line-weight) solid var(--color-base);
  transition: left 0.8s cubic-bezier(0.2, 0.4, 0.2, 1), top 0.8s cubic-bezier(0.2, 0.4, 0.2, 1);
}

.menu section {
  padding: calc(var(--margin-right) * 1.2) var(--margin-right);
}

.menu .software .button {
  background-color: var(--color-software);
}

.menu .workshop .button {
  background-color: var(--color-workshop);
}

.menu .workshop .button:hover,
.menu .software .button:hover {
  background-color: var(--color-neutral);
}

/*!!!!!!!!!!!!!!!! page board !!!!!!!!!!!!!!!!*/

.page-board,
.background-grid div {
  width: var(--board-scale-x);
  height: var(--board-scale-y);
  overflow: hidden;
}

/******** minimap ********/

#minimap {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  border-radius: var(--border-radius);
  transition: bottom right 1s ease-in-out;
}

/*!!!!!!!!!!!!!!!! instruction !!!!!!!!!!!!!!!!*/

.instruction {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.instruction a,
.instruction a:visited {
  font-family: "CompagnonMedium";
  color: var(--color-base);
  text-decoration: underline;
}

.instruction a.button {
  text-decoration: none;
}

.instruction figure {
  width: calc(100% - var(--margin-right) * 2);
  margin: var(--margin-right) var(--margin-top);
  margin-top: calc(var(--margin-right) * 2);
}

.instruction img {
  border-radius: 0;
}

.container-instruction {
  position: relative;
  overflow-y: auto;
  width: 100%;
}

.instruction header {
  display: flex;
  justify-content: space-between;
}

.instruction .button {
  margin-top: var(--margin-right);
}

.instruction .software .button {
  background-color: var(--color-software);
}

.instruction .software .button:hover {
  background-color: var(--color-workshop);
}

.summary {
  position: absolute;
  left: calc(-20vw - var(--margin-right) * 2);
  width: calc(20vw - var(--margin-right));
  height: min-content;
  padding: var(--margin-right);
  padding-top: 0;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.summary h2 {
  margin: var(--margin-top) 0;
}

.print {
  position: absolute;
  z-index: 1000;
  left: 10px;
  bottom: 10px;
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-color: var(--color-base);
}

.container {
  width: calc(1200px);
  height: calc(600px);
  margin: 4rem;
}

.container-intro {
  text-transform: uppercase;
  padding: var(--margin-right);
  box-shadow: 0px 2px 0px var(--color-base);
}

.container-corps {
  display: flex;
}

.logi-infos:last-child {
  margin-bottom: var(--margin-right);
}

.container-left {
  padding: 0 var(--margin-right);
  width: 60%;
  box-shadow: 2px 0px 0px var(--color-base);
  overflow: hidden;
}

.container-right h1:first-child,
.container-left h1:not(#presentation) {
  margin-top: var(--margin-top);
}

.container-right {
  padding: 0 var(--margin-right);
  width: 40%;
  overflow: hidden;
}

.logi-infos {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
}

.logi-infos p {
  max-width: 90%;
  text-align: right;
}

.container-right li {
  margin-left: 1.5rem;
}

.container-right li::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  translate: -1.4rem;
}

.container-right li:nth-child(1)::before,
.container-right li:nth-child(2)::before,
.container-right li:nth-child(3)::before {
  outline: 2px solid black;
}

.container-right li:nth-child(1)::before {
  background-color: #00ff7fff;
}

.container-right li:nth-child(2)::before {
  background-color: white;
}

.container-right li:nth-child(3)::before {
  background-color: #00ffffff;
}

.container-right li:nth-child(4)::before {
  background-image: url("../workshop_01/instruction/import/version_scheme_arrow.png");
  background-size: contain;
}

.container-right li:nth-child(5)::before {
  background-image: url("../workshop_01/instruction/import/version_scheme_arrow_dotted.png");
  background-size: contain;
}
