/*!!!!!!!!!!!!!!!! base load !!!!!!!!!!!!!!!!*/

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  src: url("../font/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Gulax";
  src: url("../font/Gulax-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Darker";
  src: url("../font/DarkerGrotesque-Bold.woff") format("woff");
}

@font-face {
  font-family: "Plex";
  src: url("../font/IBMPlexSansCondensed-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Jost";
  src: url("../font/Jost-500-Medium.otf");
}

@font-face {
  font-family: "Sprat";
  font-display: swap;
  src: url("../font/SpratVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Garamond";
  src: url("../font/EBGaramond12-Regular.otf");
}

@font-face {
  font-family: "Blinker";
  src: url("../font/Blinker-ExtraBold.ttf");
}

@font-face {
  font-family: "CompagnonMedium";
  src: url("../font/Compagnon-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "CompagnonRoman";
  src: url("../font/Compagnon-Roman.woff2") format("woff2");
}

:root {
  --color-none: rgba(0, 0, 0, 0);
  /* --hue-maker: 0deg;
  --hue-software: 80deg;
  --hue-neutral: 160deg;
  --hue-workshop: 240deg; */
  --hue-maker: 350deg;
  --hue-software: 190deg;
  --hue-neutral: 110deg;
  --hue-workshop: 50deg;
  /***********************/
  --color-maker: hsl(var(--hue-maker), 60%, 80%);
  --color-software: hsl(var(--hue-software), 50%, 70%);
  --color-neutral: hsl(var(--hue-neutral), 60%, 80%);
  --color-workshop: hsl(var(--hue-workshop), 80%, 75%);
  /***********************/
  --color-title-maker: hsl(var(--hue-maker), 62%, 78%);
  --color-title-software: hsl(var(--hue-software), 52%, 68%);
  --color-title-neutral: hsl(var(--hue-neutral), 62%, 78%);
  --color-title-workshop: hsl(var(--hue-workshop), 88%, 66%);
  /***********************/
  --color-text-maker: hsl(var(--hue-maker), 80%, 30%);
  --color-text-software: hsl(var(--hue-software), 80%, 20%);
  --color-text-neutral: hsl(var(--hue-neutral), 80%, 20%);
  --color-text-workshop: hsl(var(--hue-workshop), 90%, 20%);
  /***********************/
  --color-lightest-maker: hsl(var(--hue-maker), 100%, 99%);
  --color-lightest-software: hsl(var(--hue-software), 100%, 98.5%);
  --color-lightest-neutral: hsl(var(--hue-neutral), 100%, 98.5%);
  --color-lightest-workshop: hsl(var(--hue-workshop), 100%, 98%);
  /***********************/
  --line-weight: 2px;
  /***********************/
  --margin-medium: 0.8rem;
  --margin-large: calc(var(--margin-medium) * 1.375);
  --margin-small: calc(var(--margin-medium) * 0.75);
  /***********************/
  --border-radius: 0.4rem;
  /***********************/
  --width-article-medium: max(440px, 40vw);
  --width-article-small: calc(var(--width-article-medium) / 1.4);
  --width-summary: 8rem;
  --width-article-medium-full: calc(var(--width-article-medium) + var(--width-summary));
  --width-article-small-full: calc(var(--width-article-small) + var(--width-summary));
}

ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a:not([class*="button"]) {
  word-wrap: break-word;
  font-style: oblique 0deg;
  transition: font-style 0.16s ease-in-out;
}

a:hover:not([class*="button"]) {
  font-style: oblique;
}

/*!!!!!!!!!!!!!!!! scrollbar !!!!!!!!!!!!!!!!*/

* {
  scroll-behavior: smooth;
  scrollbar-width: none !important;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

::-webkit-scrollbar-track {
  background: var(--color-none);
}
::-webkit-scrollbar-thumb {
  background: var(--color-none);
}
* {
  scrollbar-color: var(--color-none) var(--color-none);
}

/*!!!!!!!!!!!!!!!! simplebar !!!!!!!!!!!!!!!!*/

.simplebar-scrollbar:before {
  background: black;
  border-radius: var(--border-radius);
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 12px;
}

/*!!!!!!!!!!!!!!!! cursor !!!!!!!!!!!!!!!!*/

a,
.arrow,
.ul-button li,
.pointer {
  cursor: pointer;
}

.background-grid {
  pointer-events: none;
}

/*!!!!!!!!!!!!!!!! text !!!!!!!!!!!!!!!!*/

/******** global text ********/

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: "Inter";
  margin: 0;
}

span,
h1,
h2,
h3 {
  font-size: 1.8rem;
}

h5 {
  font-size: 0.9rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.article h2,
.article p {
  margin-top: var(--margin-medium);
}

.article p {
  width: 95%;
}

.article h1 {
  padding-top: var(--margin-small);
}

.article h1:not(.intro h1) {
  margin-top: var(--margin-large);
}

.article h1 {
  text-transform: uppercase;
}

.article li a {
  word-wrap: break-word;
  hyphens: auto;
}

.article a:not(.button) {
  opacity: 1;
}

.article a:not(.button):after {
  content: "↗";
  font-family: "Inter";
  position: relative;
  top: 0.16em;
}

.article i {
  opacity: 0.8;
  font-style: oblique;
}

.page-workshop .container-last p {
  margin-top: 0.2rem;
}

.default {
  top: 30%;
}

.krita {
  font-family: "Gulax";
  font-size: 2.4rem;
  top: 32%;
}
.page-krita .article a:not(.button),
.page-krita .article i {
  font-family: "Gulax";
  font-size: 1.14em;
  letter-spacing: -0.01rem;
  word-spacing: -0.1rem;
}

.blender {
  font-family: "Darker";
  font-size: 2.6rem;
  top: 31%;
}
.page-blender .article a:not(.button),
.page-blender .article i {
  font-family: "Darker";
  font-size: 1.32em;
  letter-spacing: -0.01rem;
  word-spacing: -0.1rem;
}

.gimp {
  font-family: "Plex";
  font-size: 2.1rem;
  top: 40%;
}

.penpot {
  font-family: "Jost";
  font-size: 2.1rem;
  top: 40%;
}

.inkscape {
  font-family: "Sprat";
  font-variation-settings: "wdth" 120, "wght" 100;
  font-size: 2rem;
  top: 39%;
}

.kdenlive {
  font-family: "Inter";
  font-weight: 300;
  font-size: 2rem;
  top: 38%;
}
.page-kdenlive .article a:not(.button),
.page-kdenlive .article i {
  font-family: "Inter";
  font-weight: 300;
  font-size: 1.04em;
  letter-spacing: -0.01rem;
  word-spacing: -0.1rem;
}

.scribus {
  font-family: "Garamond";
  font-size: 2.1rem;
  top: 39%;
}

.birdfont {
  font-family: "Blinker";
  font-size: 2.3rem;
  top: 40%;
}

.workshop01 {
  font-family: "CompagnonMedium";
  font-size: 2.2rem;
  top: 30%;
}
.page-workshop01 .article a:not(.button),
.page-workshop01 .article i {
  font-family: "CompagnonMedium";
  font-size: 1.16em;
  letter-spacing: -0.02rem;
  word-spacing: -0.2rem;
}

.page-maker .article a:not(.button),
.page-maker .article i {
  font-family: "CompagnonRoman";
  font-size: 1.16em;
  letter-spacing: -0.02rem;
  word-spacing: -0.2rem;
}

.text-smaller {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/*!!!!!!!!!!!!!!!! navigation !!!!!!!!!!!!!!!!*/

[class*="navigation-"] {
  position: fixed;
  z-index: 10;
  width: max-content;
  padding: var(--margin-medium) var(--margin-large);
}

.logo {
  display: flex;
  align-items: center;
}

.logo h5 {
  margin-left: var(--margin-medium);
}

.navigation-global-l {
  left: 0;
  top: 0;
}

.navigation-global-r {
  right: 0;
  top: 0;
}

.navigation-bottom-r {
  right: 0;
  bottom: 0;
}

.navigation-bottom-l {
  left: 0;
  bottom: 0;
}

/******** global button ********/

.button {
  display: block;
  height: calc(var(--margin-medium) * 2);
  width: max-content;
  border-radius: var(--border-radius);
  padding: var(--margin-medium);
  transition: background-color 0.08s ease-in-out;
}

.button span {
  position: relative;
  line-height: 0;
}

.button-file {
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: opacity 0.08s ease-in-out;
}

.visual:hover .button-file {
  opacity: 1;
}

.page-maker .button {
  background-color: var(--color-maker);
}
.maker .button:hover {
  background-color: var(--color-maker);
}

.page-neutral .button {
  background-color: var(--color-neutral);
}
.neutral .button:hover {
  background-color: var(--color-neutral);
}

.page-workshop .button {
  background-color: var(--color-workshop);
}
.workshop .button:hover {
  background-color: var(--color-workshop);
}

.page-software .button {
  background-color: var(--color-software);
}
.software .button:hover {
  background-color: var(--color-software);
}

.article .software .button {
  background-color: var(--color-software);
}
.article .software .button:hover {
  background-color: var(--color-workshop);
}

.page-maker .article .workshop .button {
  background-color: var(--color-workshop);
}
.page-maker .article .workshop .button:hover {
  background-color: var(--color-maker);
}

.page-software .article .workshop .button {
  background-color: var(--color-workshop);
}
.page-software .article .workshop .button:hover {
  background-color: var(--color-software);
}

.maker .button,
.neutral .button,
.workshop .button {
  text-transform: capitalize;
}

.software .button {
  text-transform: uppercase;
}

/******** arrow button ********/

/* def arrow*/

.arrow {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  -webkit-mask: url("../import/arrow.svg") no-repeat;
  mask: url("../import/arrow.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  border: var(--line-weight) solid var(--color-neutral);
  margin-top: 1px;
}

.navigation-menu {
  width: calc(100% - var(--margin-large) * 2);
}

/* all button arrow */

.arrow-rotate {
  transform: rotate(180deg);
  transition: transform 0.7s cubic-bezier(0.2, 0.4, 0.2, 1);
}

.button-arrow-l,
.button-arrow-r {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 0 var(--margin-large);
}

.button-arrow-l .arrow-push,
.button-arrow-r .arrow-push,
.button-arrow-l .pushed,
.button-arrow-r .pushed {
  position: relative;
}

/* button arrow left */

.button-arrow-l {
  left: calc(var(--margin-large) * -1);
}

.button-arrow-l .arrow-push {
  left: -3rem;
  transition: left 0.4s cubic-bezier(0.4, 0.1, 0.4, 1);
}

.button-arrow-l .pushed {
  left: -1.8rem;
  transition: left 0.4s cubic-bezier(0, 0, 0.2, 1) 0.18s;
}

.button-arrow-l:hover .arrow-push {
  left: 0rem;
}

.button-arrow-l:hover .pushed {
  left: 0.6rem;
}

/* button arrow right */

.button-arrow-r {
  right: calc(var(--margin-large) * -1);
}

.button-arrow-r .arrow-push {
  transform: rotate(180deg);
  right: -3rem;
  transition: all 0.4s cubic-bezier(0.4, 0.1, 0.4, 1);
}

.button-arrow-r .pushed {
  right: -1.8rem;
  transition: right 0.4s cubic-bezier(0, 0, 0.2, 1) 0.18s;
}

.button-arrow-r:hover .arrow-push {
  right: 0rem;
}

.button-arrow-r:hover h1 {
  right: 0.6rem;
}

.navigation-bottom-r .arrow-rotate {
  transform: rotate(0deg);
}

.navigation-global-l .arrow-link {
  transform: rotate(-45deg);
}

.navigation-menu .arrow-link,
.navigation-global-r .arrow-link {
  transform: rotate(-135deg);
}

/******** list button ********/

.ol-button,
.ul-button {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.ol-button {
  flex-direction: column;
}

.ol-button li,
.ul-button li {
  margin-top: var(--margin-medium);
}

.ul-button li {
  margin-right: var(--margin-medium);
}

.ol-button li {
  margin-left: var(--margin-medium);
}

/*!!!!!!!!!!!!!!!! interface / text color !!!!!!!!!!!!!!!!*/

/******** text ********/

.page-maker,
.page-maker a {
  color: var(--color-text-maker);
}

.page-neutral,
.page-neutral a {
  color: var(--color-text-neutral);
}

.page-workshop,
.page-workshop a {
  color: var(--color-text-workshop);
}

.page-software,
.page-software a {
  color: var(--color-text-software);
}

.page-maker [class*="navigation-"] h5,
.page-maker [class*="navigation-"] h1 {
  color: var(--color-title-maker);
}

.page-neutral [class*="navigation-"] h5,
.page-neutral [class*="navigation-"] h1 {
  color: var(--color-title-neutral);
}

.page-workshop [class*="navigation-"] h5,
.page-workshop [class*="navigation-"] h1 {
  color: var(--color-title-workshop);
}

.page-software [class*="navigation-"] h5,
.page-software [class*="navigation-"] h1 {
  color: var(--color-title-software);
}

.navigation-menu h1 {
  color: var(--color-text-neutral) !important;
}

/******** interface ********/

.page-neutral .container-article .arrow-color,
.page-neutral .menu .arrow-color {
  background-color: var(--color-text-neutral);
}
.page-neutral .arrow-color {
  background-color: var(--color-title-neutral);
}

.page-maker .container-article .arrow-color,
.page-maker .menu .arrow-color {
  background-color: var(--color-text-maker);
}
.page-maker .arrow-color {
  background-color: var(--color-title-maker);
}

.page-workshop .container-article .arrow-color,
.page-workshop .menu .arrow-color {
  background-color: var(--color-text-workshop);
}
.page-workshop .arrow-color {
  background-color: var(--color-title-workshop);
}

.page-software .container-article .arrow-color,
.page-software .menu .arrow-color {
  background-color: var(--color-text-software);
}
.page-software .arrow-color {
  background-color: var(--color-title-software);
}

.page-neutral {
  border-color: var(--color-text-neutral);
  outline-color: var(--color-text-neutral);
}

.page-maker {
  border-color: var(--color-text-maker);
  outline-color: var(--color-text-maker);
}

.page-workshop {
  border-color: var(--color-text-workshop);
  outline-color: var(--color-text-workshop);
}

.page-software {
  border-color: var(--color-text-software);
  outline-color: var(--color-text-software);
}

/******** fullscreen ********/

.button-fullscreen {
  transform: rotate(0deg);
  transition: transform 0.7s cubic-bezier(0.2, 0.4, 0.2, 1);
}

/*!!!!!!!!!!!!!!!! background page !!!!!!!!!!!!!!!!*/

/******** create grid ********/

.page-board {
  overflow: hidden;
}

.background-grid,
.background-grid div {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cross {
  background-image: url("../import/cross.min.svg");
  background-size: 50px;
}

.square {
  background-image: url("../import/square.min.svg");
  background-size: 50px;
}

.dot {
  background-image: url("../import/dot.min.svg");
  background-size: 50px;
}

/******** color grid ********/

.grid-below {
  mix-blend-mode: multiply;
}

.grid {
  --filter-grid: invert(0.4) sepia(1) saturate(64);
}

.page-workshop .grid {
  filter: var(--filter-grid) hue-rotate(var(--hue-workshop)) brightness(1.6);
  opacity: 0.18;
}
.page-workshop .grid-below {
  background-color: var(--color-lightest-workshop);
}

.page-software .grid {
  filter: var(--filter-grid) hue-rotate(var(--hue-software)) brightness(1.2);
  opacity: 0.12;
}
.page-software .grid-below {
  background-color: var(--color-lightest-software);
}

.page-maker .grid {
  filter: var(--filter-grid) hue-rotate(var(--hue-maker)) brightness(1);
  opacity: 0.1;
}
.page-maker .grid-below {
  background-color: var(--color-lightest-maker);
}

.page-neutral .grid {
  filter: var(--filter-grid) hue-rotate(var(--hue-neutral)) brightness(1);
  opacity: 0.14;
}
.page-neutral .grid-below {
  background-color: var(--color-lightest-neutral);
}

/*!!!!!!!!!!!!!!!! content grid !!!!!!!!!!!!!!!!*/

/******** visuals ********/

.content {
  overflow: hidden;
}

.visual {
  position: absolute;
  opacity: 0;
  transition: opacity 0.32s ease-in-out 0.16s;
}

.visual {
  width: max(400px, 30vw);
}

.visual video,
.visual img {
  border-radius: var(--border-radius);
}

.visual img,
.visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top {
  z-index: 3;
}
.bottom {
  z-index: 2;
}

/*!!!!!!!!!!!!!!!! article !!!!!!!!!!!!!!!!*/

/******** global ********/

.container-article {
  position: fixed;
  z-index: 12;
  height: calc(100vh - var(--margin-medium) * 5);
  width: var(--width-article-small-full);
  left: calc(var(--width-article-small-full) * -1 - var(--margin-small) * 2);
  bottom: 0;
  overflow: hidden;
  display: flex;
  margin: var(--margin-small);
  transition: left 0.8s cubic-bezier(0.2, 0.4, 0.2, 1);
  border-radius: var(--border-radius);
}

.article {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - var(--margin-medium) * 5);
  margin-left: calc(var(--width-summary) + var(--margin-large));
  padding: var(--margin-small) var(--margin-large);
}

.article-fullscreen {
  margin: 0;
  padding: var(--margin-small) 30vw;
}

.none {
  display: none;
}

.page-neutral .background {
  background-color: var(--color-neutral);
}

.page-workshop .background {
  background-color: var(--color-workshop);
}

.page-software .background {
  background-color: var(--color-software);
}

.page-maker .background {
  background-color: var(--color-maker);
}

/******** close article ********/

.close-article {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 15;
  border-top-width: var(--line-weight);
  border-top-style: solid;
  padding: var(--margin-medium);
  width: calc(100% - var(--margin-medium) * 2);
  height: min-content;
  transition: left 0.8s cubic-bezier(0.2, 0.4, 0.2, 1);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.button-fullscreen {
  font-size: 2rem;
}

/******** fullscreen article ********/

.fullscreen {
  margin: 0;
  width: 100%;
  height: 100%;
}

/******** summary article ********/

.summary {
  position: absolute;
  left: 0;
  width: var(--width-summary);
  height: 100%;
  z-index: 13;
  padding-left: var(--margin-large);
  padding-top: 0;
  overflow: hidden;
}

.summary p {
  margin: var(--margin-small) 0;
}

.summary li::after {
  content: "";
  position: relative;
  display: block;
  height: 2rem;
  width: var(--margin-small);
  border-right-width: var(--line-weight);
  border-right-style: solid;
}

.summary li:last-child::after {
  height: 100vh;
}

/******** article ********/

.scheme {
  width: 100%;
  display: flex;
  margin-top: var(--margin-large);
  overflow-y: hidden;
  overflow-x: auto;
  align-items: flex-end;
}

.scheme figure {
  height: 60vh;
  margin-top: var(--margin-medium);
  margin-right: calc(var(--margin-large) * 2);
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.scheme img {
  border-radius: 0;
  height: 100%;
}

.scheme li {
  position: relative;
  margin-left: 1.8rem;
  justify-content: end;
}

.scheme li span {
  position: absolute;
  left: -1.8rem;
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  outline-width: 2px;
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.scheme li:nth-child(1) span,
.scheme li:nth-child(2) span,
.scheme li:nth-child(3) span {
  outline-color: black;
  outline-style: solid;
  top: 0.2rem;
}

.scheme li:nth-child(1) span {
  background-color: #00ff7fff;
}

.scheme li:nth-child(2) span {
  background-color: white;
}

.scheme li:nth-child(3) span {
  background-color: #00ffffff;
}

.scheme li:nth-child(4) span,
.scheme li:nth-child(5) span {
  top: -0.1rem;
}

.article header {
  display: flex;
  justify-content: space-between;
}

.article .button {
  margin-top: var(--margin-large);
}

.container {
  width: calc(1200px);
  height: calc(600px);
  margin: 4rem;
}

.container-intro {
  text-transform: uppercase;
}

.page-workshop .container-corps {
  display: flex;
  flex-direction: column;
}

.logi-infos:last-child {
  margin-bottom: var(--margin-large);
}

.container-right,
.container-left {
  width: 100%;
  overflow: hidden;
}

.container-right h1:first-child,
.container-left h1:not(#presentation) {
  margin-top: var(--margin-medium);
}

.logi-infos {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.container-last {
  padding-bottom: calc(var(--margin-large) * 2);
}

/*!!!!!!!!!!!!!!!! index !!!!!!!!!!!!!!!!*/

/******** global ********/

.page-index {
  overflow: hidden;
}

.overlay,
.page-index video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlay {
  background-color: var(--color-neutral);
  mix-blend-mode: multiply;
  opacity: 0.4;
}

.page-index video {
  z-index: -1;
  object-fit: cover;
}

/* menu */

.navigation-menu {
  position: relative;
  display: flex;
  padding: var(--margin-medium) var(--margin-large);
  justify-content: space-between;
}

.menu {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 100vw;
  width: var(--width-article-medium);
  height: max-content;
  margin: var(--margin-small);
  background-color: var(--color-neutral);
  border-radius: var(--border-radius);
  transition: left 0.8s cubic-bezier(0.2, 0.4, 0.2, 1), top 0.8s cubic-bezier(0.2, 0.4, 0.2, 1);
}

.menu section {
  padding: calc(var(--margin-large) * 1.2) var(--margin-large);
}

.menu .software .button {
  background-color: var(--color-software);
}

.menu .workshop .button {
  background-color: var(--color-workshop);
}

.menu .workshop .button:hover,
.menu .software .button:hover {
  background-color: var(--color-neutral);
}

/*!!!!!!!!!!!!!!!! page board !!!!!!!!!!!!!!!!*/

.page-board,
.background-grid div {
  overflow: hidden;
}

/******** minimap ********/

#minimap {
  position: fixed;
  margin: var(--margin-small);
  bottom: 0;
  right: 0;
  border-radius: var(--border-radius);
}

#minimap {
  z-index: 9;
  transition: right 0.7s ease-in-out;
}

/*!!!!!!!!!!!!!!!! page about !!!!!!!!!!!!!!!!*/

.page-about img {
  filter: grayscale(100) contrast(1.1) sepia(1) hue-rotate(60deg);
  transition: filter 0.32s ease-in-out;
}

.page-about img:hover {
  filter: none;
}

/*!!!!!!!!!!!!!!!! print !!!!!!!!!!!!!!!!*/

.instruction-print {
  position: absolute;
  z-index: 14;
  width: 100%;
  height: 100%;
  display: none;
}

.pagedjs_page:last-child {
  margin-bottom: 6rem;
}

.pagedjs_pages {
  background-color: var(--color-workshop);
}

.pagedjs_page {
  background-color: white;
}

/******** page properties ********/

@media print {
  @page {
    size: 210mm 297mm;
    margin: 10mm;
  }

  [class*="navigation-"],
  .background-grid,
  .fixed,
  .close-article,
  section,
  nav,
  canvas {
    display: none;
  }

  h1.workshop01,
  h2.workshop01 {
    font-size: 16pt;
    line-height: 16pt;
  }

  .intro h1 {
    font-size: 20pt;
    line-height: 20pt;
  }

  .krita {
    font-size: 16pt;
    line-height: 16pt;
  }

  .blender {
    font-size: 17pt;
    line-height: 16pt;
  }

  .kdenlive {
    font-size: 14pt;
    line-height: 16pt;
  }

  i {
    line-height: 0pt;
  }

  .text-smaller,
  .article a:not(.button),
  p {
    font-size: 9pt;
    line-height: 11pt;
  }

  .article p {
    width: 90%;
  }

  .container-article {
    display: block;
    position: inherit;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .article {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .page-workshop .container-corps {
    flex-direction: row;
  }

  .container-left {
    width: 50%;
    margin-right: 2mm;
  }
  .container-right {
    width: 50%;
    margin-left: 2mm;
  }

  .article .software .button {
    margin: 0;
    padding: 0;
    background: none;
  }

  .logi-infos p:nth-child(3) {
    display: none;
  }

  .scheme {
    margin-top: var(--margin-small);
  }

  .scheme figure {
    height: 92mm;
    mix-blend-mode: normal;
  }

  .scheme li span {
    width: 0.7rem;
    height: 0.7rem;
    left: -1.2rem;
    outline-width: 1px;
    mix-blend-mode: normal;
  }

  .scheme li:nth-child(1) span,
  .scheme li:nth-child(2) span,
  .scheme li:nth-child(3) span {
    top: 0rem;
  }

  .scheme li:nth-child(4) span,
  .scheme li:nth-child(5) span {
    top: -0.3rem;
  }

  .software {
    margin-top: 0.5rem;
  }

  .break {
    break-before: always;
  }
}
